# Logs & Temporarios
*.log
logs/
.DS_Store
Thumbs.db

# Metabase H2 Database (Incluido na publicacao com usuario padrao admin@uea.edu.br e dashboard 2 pre-configurado)
# !infra/metabase/metabase.db/*

# Trace logs
*.trace.db
